.testi-page {
  margin-top: 177px;
  margin-bottom: 320px;
  position: relative;
  &__title {
    display: flex;
    width: 166px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    color: #ee4d47;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 166.667% */
    letter-spacing: 2.4px;
    margin-bottom: 44px;
  }
  &__descr {
    width: 550px;
    height: 200px;
    color: #402b2b;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  &__cards {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 94px;
    left: 380px;
  }
  &__arrows {
    position: absolute;
    top: 20px;
    right: 0;
    width: 90px;
    display: flex;
    align-items: center;
    gap: 30px;
    .arrows {
      &__left {
        cursor: pointer;
      }
      &__right {
        cursor: pointer;
      }
    }
  }
}
